<h1> You landed at <%= thingVar %></h1>
<% if(thingVar === 'football'){ %>
    <p> Good choice, football.</p>
<% } else{ %>
    <p>Bad choice, use football please.</p>
<% } %>
<p> P.S. :  It is coming from house.ejs file</p>